<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Slash</string>
    <key>uuid</key>
    <string>77EA4285-8D15-4592-8C9F-BF176F521B4B</string>
</dict>
</plist>
